body {
    background: #f48fb1;
    font-family: Helvetica;
}
.hidden {
    display: none;
}

#startGameButton {
    margin-top: 22%;
    margin-left: 41%;
    width: 18%;
    border: 2px solid #c51162;
    color: #c51162;
    background-color: #f48fb1;
    font-size: 2em;
}

#players1, #players2  {
    display: flex;
}

#turn1, #turn2  {
    color: #c51162;
}

table {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    border-collapse: collapse;
    border: 2px solid #f48fb1;
}
td {
    padding: 3px;
    border: 1px solid #c51162;
    width: 33%;
    height: 33%;
    text-align: center;
    font-size: 6em;
    color: #c51162;


}
input {
    margin-left: 43%;
    width: 14%;
    border: 2px solid #c51162;
    color: #c51162;
    background-color: #f48fb1;
    font-size: 2em;
}
